* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
  background: #d9d9dd;
  color: #191c1f;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
}
